.Navigate{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    width: 98%;
    background: var(--color-grey);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.NavigateBloc{
    display: flex;
    align-items: center;
    justify-content: center;
}



.DrawerListBox{
    background:var(--color-grey);
    box-shadow: var(--box-shadow);
    height: 100%;
}